<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
    <title>Welcome</title>
</head>
<body>
    <div class="background_img">
        <div class="header">
            <img src="css/images/Cab-Sharing.svg" class="logo">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
            <a href="/login"><button class="btn" id="btn1">Log In</button></a>
            <a href="/register"><button class="btn" id="btn2">Sign Up</button></a>
        </div>
        <div class="img-1">
            <div class="text">
            <h1>Welcome to App</h1>
            <p> You can share rides with your fellow bachmates and book a car through this app. 
            </p>
           </div>
           <div class="img-2">
            <img src="css/images/car.png" width="1024" height="700" alt="">
            </div>
       </div>
   </div>
</body>
</html>