<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
    <title> About </title>
</head>
<body>
    <div class="background_img">
        <div class="header">
            <!-- <img src="css/images/Cab-Sharing.svg" class="logo"> -->
            <a href = "/"><img src="css/images/Cab-Sharing.svg" class="logo"></a>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/feedback">Feedback</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
            <a href="/login"><button class="btn" id="btn1">Log In</button></a>
            <a href="/register"><button class="btn" id="btn2">Sign Up</button></a>
        </div>
        <div class="details">
            This is my portfolio project using Node and mongodb
            <ul>
            </ul>
        </div>
   </div>
</body>
</html>