<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <title>Code Closed</title>
  </head>
  <body>
    <div class="background_img-1">
      <div class="header">
        <a href="/"
          ><img src="css/images/Cab-Sharing.svg" alt="" class="logo"
        /></a>
        <nav>
          <ul>
            <li><a href="/travelform">Travelling form</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/request">Request</a></li>
            <li><a href="/journey">Journeys</a></li>
            <li><a href="/feedback">Feedback</a></li>
          </ul>
        </nav>
        <a href="/profile"><button class="btn" id="btn2">Profile</button></a>
        <a href="/logout"><button class="btn" id="btn1">Log out</button></a>
      </div>
    </div>
  
    <div class="dashboard_main">
      <div class="dashboard_row">
        <div class="dashboard_column">
          <a href="/search">
            <div>
              <img src="css/images/img_search.jpg" alt="Snow" style="width: 100%" />
              <div class="text-block">
                <a href="/search">Search</a>
              </div>
            </div>
          </a>
        </div>
        <div class="dashboard_column">
          <a href="/travelform">
            <div>
              <img src="css/images/img_form.jpg" alt="Snow" style="width: 100%" />
              <div class="text-block">
                <a href="/travelform">Travelling Form</a>
              </div>
            </div>
          </a>
        </div>
        <div class="dashboard_column">
          <a href="/journey">
            <div>
              <img src="css/images/img_journey.jpg" alt="Snow" style="width: 100%" />
              <div class="text-block">
                <a href="/journey">My Journeys</a>
              </div>
            </div>
          </a>
        </div>
        <div class="dashboard_column">
          <a href="/request">
            <div>
              <img src="css/images/img_request.jpg" alt="Snow" style="width: 100%" />
              <div class="text-block">
                <a href="/request">Requests</a>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    
  </body>
</html>
